$dark: #272728;
$off-white: #e8e8e8;
$light-grey: #bcbcbc;
$booger: #9cbd43;
$dark-grey: #272728;
$white: #f5f5f5;
$pale-grey: #fdfefe;
$warm-grey: #9b9b9b;
$greyish: #a5a5a5;
$white-two: #ffffff;
$green: #9cbe55;
$grey: #a7a7a7;
$gray: #a7a7a7;
$gray1: #aeaeae;
$off-black: #1d1d1e;
$puke-green: #9dc03b;
$light-red: #de6271;
$pn-blue: #0a3aca;
