@import '../abstracts/variables';
@import '../abstracts/colors';

.icon {
  &.red {
    fill: $light-red;
  }

  &.blue {
    fill: $pn-blue;
  }

  &.medium {
      height: 15px;
  }

  &.big {
      height: 25px;
  }
}
