@import '../abstracts/colors';
@import '../abstracts/variables';

.sidebar {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $bg;
  border-right: $sidebar-border;
  overflow-x: hidden;
  padding-top: 20px;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

    &:hover {
      color: #f1f1f1;
    }
  }
}

#root {
  margin-left: $sidebar-width;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
