@import '../abstracts/colors';
@import '../abstracts/variables';

.sidebar {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $bg;
  border-right: $sidebar-border;
  overflow-x: hidden;

  td {
    padding: $medium-padding;
    padding-bottom: $large-padding;
  }

  img {
    width: 75%;
    margin-left: $medium-margin;
    margin-top: $medium-margin;

    &.small {
      width: 40%;
    }
  }

  a {
    &.disabled:hover {
      cursor: not-allowed;
    }
  }
}

#root {
  margin-left: $sidebar-width;
}
